# Node / Dependencies
node_modules/

# Build outputs
dist/
generated/
.next/
example-nextjs/.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
example-nextjs/.env.local
.env.local
.env.*.local

# Coverage
coverage/

# Misc
.DS_Store
*.swp
*.tsbuildinfo

# Sanity temp
.sanity/runtime/

# VSCode
.vscode/